html,
body {
    height: 100%;
    background-color: beige;
    margin: 0px;
}

ul {
    list-style-type: none;
}

li,
a {
    cursor: pointer;
    color: darkgrey;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
}

.nav,a {
    background-color: black;
    display: -webkit-box;
    margin-top: 0px;
}

.active a {
    padding-top: 20px;
    padding-bottom: 00px;
    color: white;
}