body {
    background-color: beige;
}

h2 {
    color: black;
}

textarea {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
}

button {
    color: white;
    background-color: black;
    border-color: black;
    border-radius: 10px;
}

li,
a,
a:hover {
    cursor: pointer;
    color: darkgrey;
    text-decoration: none;
    padding: 10px 0px;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
}

label {
    color: darkgrey;
}

textarea {
    margin-top: 10px;
}

/*Navigation*/
.menu {
    background-color: black;
}

.menu ul,
.menu a {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    font-size: 20px;
}

.active a {
    padding-top: 20px;
    padding-bottom: 0px;
    color: white;
}

.sign a {
    color: white;
    border-left: 1px darkgray solid;
}

/*Content*/
.product,
.reviews {
    font-size: 20px;
}

.title {
    padding: 10px 0px;
    border-bottom: 2px darkgray solid;
    margin-bottom: 20px;
}

.text_product {
    padding-top: 10px;
    border-top: 2px darkgray solid;
    margin-top: 20px;
    word-wrap: break-word;
}

#origin {
    margin-top: 16px;
}

.rate {
    float: right;
}

.review {
    padding: 10px 0px;
    border-bottom: 2px black solid;
    margin-bottom: 16px;
    word-wrap: break-word;
}

.text_rewiew {
    border-left: 2px darkgrey solid;
    padding-left: 10px;
}

/*Form auth*/

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    display: none;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.modalDialog div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: black;
}

.modalDialog input {
    margin-bottom: 5px;
}

.close {
    background: black;
    color: white;
    line-height: 4px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background-color: #333333;
}

.message {
    text-align: center;
    color: darkgrey;
    font-weight: bold;
}