<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Light IT</title>
    <link rel="stylesheet" type="text/css" href="css/librerys/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/librerys/jquery-3.1.0.js"></script>
    <script src="js/products.js"></script>
    <script src="js/auth.js"></script>
    <script src="js/frameworks/angular.js"></script>
</head>
<body>
<div ng-app="ProdApp">
    <div class="products" ng-controller="TitlesCtrl">
        <div class="menu">
            <ul ng-repeat="ProductTitle in titles">
                <li ng-class="{active : activeMenu === ProductTitle}">
                    <a ng-click="setActive(ProductTitle); id(ProductTitle.id)">{{ProductTitle.title}}</a>
                </li>
            </ul>
            <ul class="sign">
                <li>
                    <a href="#form_auth">Sign</a>
                </li>
            </ul>
        </div>
        <div class="container" ng-repeat="ProductTitle in titles" ng-show="activeMenu === ProductTitle">
            <div class="col-xs-6 product">
                <div class="title">{{ProductTitle.title}}</div>
                <img ng-src="http://smktesting.herokuapp.com/static/{{ProductTitle.img}}">
                <div class="text_product">{{ProductTitle.text}}</div>
            </div>
            <div class="col-xs-6 reviews">
                <div ng-repeat="ProductReview in reviews">
                    <div class="rate">{{ProductReview.rate}}</div>
                    <div class="username">{{ProductReview.created_by.username}}</div>
                    <div class="text_rewiew">{{ProductReview.text}}</div>
                </div>
            </div>
        </div>
    </div>
    <div ng-app="AuthApp" class="modalDialog" id="form_auth">
        <div ng-controller="AuthCtrl">
            <a href="#close" title="Закрыть" class="close">X</a>
            <label for="exampleInputLogin">Username</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username" name="username"
                   ng-model="username" required>
            <label for="exampleInputPassword">Password</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password"
                   name="password" ng-model="password" required>
            <button class="btn btn-default login" ng-click="authorization()">Username</button>
            <button class="btn btn-link register" ng-click="register()">Register</button>
            <p class="message ng-binding">{{answer.message}}</p>
        </div>
    </div>
</div>

</div>

<!--<div ng-app="AuthApp" class="modalDialog" id="form_auth">-->
<!--<div ng-controller="AuthCtrl">-->
<!--<a href="#close" title="Закрыть" class="close">X</a>-->
<!--<label for="exampleInputLogin">Username</label>-->
<!--<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username" name="username"-->
<!--ng-model="username" required>-->
<!--<label for="exampleInputPassword">Password</label>-->
<!--<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password"-->
<!--name="password" ng-model="password" required>-->
<!--<button class="btn btn-default login" ng-click="authorization()">Username</button>-->
<!--<button class="btn btn-link register" ng-click="register()">Register</button>-->
<!--<p class="message ng-binding">{{answer.message}}</p>-->
<!--</div>-->
<!--</div>-->
</body>
</html>