<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <title>Light IT</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/librerys/jquery-3.1.0.js"></script>
    <script src="js/products.js"></script>
    <script src="js/frameworks/angular.js"></script>
</head>
<body ng-controller="TitlesCtrl">
<div class="menu">
    <ul>
        <li  ng-repeat="ProductTitle in titles" ng-class="{active : activeMenu === ProductTitle}" ng-click="setActive(ProductTitle)">
            {{ProductTitle.title}}
        </li>
    </ul>
</div>
</body>

</html>