<!DOCTYPE html>
<html ng-app="Auth_App">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/librerys/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/librerys/jquery-3.1.0.js"></script>
    <script src="js/auth.js"></script>
    <script src="js/frameworks/angular.js"></script>
</head>
<body class="container form_auth">
<div class="col-xs-3" ng-controller="AuthCtrl">
    <label for="exampleInputLogin">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username" name="username"
           ng-model="username" required>
    <label for="exampleInputPassword">Password</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password"
           name="password" ng-model="password" required>
    <button class="btn btn-default login" ng-click="authorization()">Username</button>
    <button class="btn btn-link register" ng-click="register()">Register</button>
    <p class="message">{{answer.message}}</p>
</div>
</body>
</html>